

<MudContainer>
    <div class="d-flex align-center flex-grow-1">
        <NavLink href="/" class="me-4">
            <MudText Color="Color.Primary" Typo="Typo.h5">MicroOrder Store</MudText>
        </NavLink>
        <MudButton Href="/counter" Color="Color.Inherit" Variant="Variant.Text">Counter</MudButton>
        <MudButton Href="/catalog" Color="Color.Inherit" Variant="Variant.Text">Catalog</MudButton>
        <MudButton Href="/weather" Color="Color.Inherit" Variant="Variant.Text">Weather</MudButton>
        <MudButton Href="/profile" Color="Color.Inherit" Variant="Variant.Text">Profile</MudButton>
        <MudSpacer />
        <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.ShoppingCart">Cart</MudButton>
    </div>
</MudContainer>
